.container{
    transition: all 0.4s ease-in;
}
.page-enter-active, .page-leave-active {
    transition: opacity .5s;
}
.page-enter, .page-leave-active {
    opacity: 0;
}

header{
    margin-top: 100px;
    margin-bottom: 100px;
}